body{background-image: url(https://img.freepik.com/premium-photo/inspiring-illustration-hand-holding-brain-mindful-enlightenment_910684-3459.jpg);background-repeat: no-repeat   ;background-size: cover;}
h1{font-size: xx-large; color: white;text-align: center;margin-top: 200px;text-decoration: underline;} 
p{font-size: xx-large;color: white;}
